/* base style */
html {
  scroll-behavior: smooth;
  contain: content;
  margin: 0;
  padding: 0; }

/* container */
.container {
  display: grid;
  width: 100%;
  margin: 0; }

/* background color */
body {
  background-color: #EABDA8;
  margin: 0;
  padding: 0; }

/* class image margin right */
.pic {
  margin-left: 42%;
  width: 15%;
  transition: 1s ease-in; }

.pic:hover {
  transition: 1s ease-in-out;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.623), -3px -3px 3px rgba(128, 128, 128, 0.582); }

/* navbar */
nav {
  padding: 1%;
  text-align: center; }

/*  text color */
li {
  font-size: 1.1875rem;
  padding: 0 0 0 1.5625rem;
  color: black;
  display: inline; }

/* style of unordered list */
ul {
  list-style-type: none;
  color: black; }

/* color of paragraph */
/* heading about paragraph */
p {
  color: #284c4c;
  font-size: 1.5rem;
  margin: 2rem; }

/* self learn */
/* style of scroller, style of thumb */
::-webkit-scrollbar {
  width: 29px;
  /* background-color: pink; */ }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(126, 123, 123, 0.589); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(170, 55, 55, 0.432);
  background: rgba(102, 114, 124, 0.678); }

::-webkit-scrollbar-thumb:hover {
  background: #f76363a6; }

/* link text-size, padding , bgc, center,margin*/
.navbar li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(34, 36, 35, 0.582);
  padding: 0.3125rem 0.625rem;
  display: inline;
  font-family: 'Charm', cursive;
  margin-left: 2rem;
  text-shadow: #312e2d; }

/* hover over navbar */
.navbar a:hover {
  color: rgba(25, 175, 25, 0.87);
  transition: 0.10s; }

/* first heading background color, text and size */
/* style heading 2 */
.name,
h1 {
  color: #686666;
  font-family: 'Charm', cursive;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem 0;
  word-spacing: 7px; }

/* paragraphs */
.pgrph {
  padding: 2rem;
  box-shadow: 5px 5px 5px 5px rgba(99, 98, 98, 0.87);
  transition: 1s ease-in; }

.pgrph:hover {
  padding: 3rem;
  transition: 1s ease-in-out;
  box-shadow: 6px 6px 6px 6px rgba(99, 98, 98, 0.87); }

/* styles of jump links */
#about,
#education,
#work,
#skills,
#latest,
#contact {
  color: black;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Charm', cursive; }

/* end of jump link style */
/* iframe headers links */
.ihead {
  text-align: center;
  font-family: 'Charm', cursive;
  font-size: 1rem;
  text-decoration-line: underline; }

/* style of div 'education' */
.edu-link {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(99, 98, 98, 0.87);
  transition: 1s ease-in; }

.edu-link:hover {
  padding: 2rem;
  transition: 1s ease-in-out;
  box-shadow: 6px 6px 6px 6px rgba(99, 98, 98, 0.87); }

/* end of style */
/* class hover certain images to rotate */
.skills-1:hover,
.skills-2:hover,
.skills-3:hover,
.skills-4:hover {
  transform: rotateY(360deg);
  transition: transform 4s ease-out;
  text-align: center; }

.exp p:hover {
  color: red;
  font-family: 'Charm', cursive; }

.head-1 {
  padding: 2rem;
  margin: 1.5rem;
  background-color: #f76363a6;
  text-align: center; }

/*style of gif-scroll padding and margin  */
.scroll {
  margin-left: 43%;
  padding-top: 1%; }

/* style of unordered list of contact details */
.contact-1 {
  color: aliceblue;
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold; }

.contact-1 img {
  width: 5%; }

.email,
.git,
.fone {
  transition: 1s ease-in; }

.email:hover,
.git:hover,
.fone:hover {
  padding: 1rem;
  transition: 1s ease-in-out;
  box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.555); }

/* end of style */
/* footer background color padding top & bottom font-style */
.foot-1 {
  color: black;
  font-family: 'Charm', cursive;
  background-color: rgba(128, 128, 128, 0.13); }

.foot-p {
  padding: 1rem;
  margin: 0; }

.foot-img {
  width: 2.5rem;
  height: 2rem; }

/* work experience */
.exp {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-template-areas: "img img2 img3 img4"; }

/* style of skills image */
.skills-1 {
  width: 50%; }

.box1 {
  grid-area: img; }

.skills-2 {
  width: 36%; }

.box2 {
  grid-area: img2; }

.skills-3 {
  margin-top: 3rem;
  width: 75%; }

.box3 {
  grid-area: img3; }

.skills-4 {
  width: 50%; }

.box4 {
  grid-area: img4; }

.container-4 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 700px);
  grid-area: "project project2 project3"; }

.container-4 img {
  width: 100%; }

.project {
  grid-area: project;
  filter: grayscale(100%); }

.project2 {
  grid-area: project2;
  filter: grayscale(100%); }

.project3 {
  grid-area: project;
  filter: grayscale(100%); }

.project4 {
  grid-area: project2;
  filter: grayscale(100%); }

.project:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
  filter: grayscale(0%); }

/* responsive for different devices */
/* responsive for mobile phone: */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* class image margin right */
  .pic {
    margin-left: 4rem;
    width: 15%;
    transition: 1s ease-in; }

  /* navbar */
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    display: block; }

  /* link text-size, padding , bgc, center,margin*/
  .navbar li a {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 3px;
    padding: 0;
    display: block;
    margin: 0.2rem; }

  /* grid */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "heading" "pgrph"; }

  #about {
    grid-area: heading; }

  .pgrph {
    grid-area: pgrph; }

  /* style heading 2 */
  .name,
  h1,
  h3 {
    font-size: 1rem;
    text-align: left;
    margin: 0.5rem 2rem; }

  /* color of paragraph */
  /* heading about paragraph */
  p {
    color: #284c4c;
    font-size: 1rem;
    margin-left: 3rem; }

  /* paragraphs */
  .pgrph {
    margin-right: 20rem;
    padding: 1rem; }

  /* styles of jump links */
  #about,
  #education,
  #work,
  #skills,
  #latest,
  #contact {
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    margin: 0.5rem 3rem; }

  /* end of jump link style */
  /* style of div 'education' */
  .edu-link {
    margin-right: 18rem;
    padding: 0.6rem; }

  /* iframe headers links */
  .ihead h2 {
    font-size: 1.2rem; }

  /* work experience */
  .exp {
    display: grid;
    grid-template-columns: 1fr; }

  .head-1 {
    padding: 1rem;
    margin-right: 30rem; }

  /*style of gif-scroll padding and margin  */
  .scroll {
    margin-left: 10%; }

  /* style of skills image */
  .skills-1 {
    width: 12.8%;
    margin: 0; }

  .skills-2 {
    margin-left: 1.3rem;
    padding-top: 1rem; }

  .header-1 {
    margin: 0;
    padding: 1rem;
    margin-left: 2.6rem;
    width: 15%; }

  /* latest work */
  .work-prgh {
    margin-right: 18rem; }

  /* style of unordered list of contact details */
  .contact-1 p {
    font-size: 0.8rem;
    margin-right: 20rem; }

  /* imgs of contact form */
  .contact-1 img {
    width: 10%;
    margin-right: 20rem;
    padding: 0; }

  .email:hover,
  .git:hover,
  .fone:hover {
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.555); }

  /* footer background color padding top & bottom font-style */
  .foot-1 p {
    margin: 0; } }
/* media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* responsive for tablets: */
  /* class image margin right */
  .pic {
    margin-left: 20rem;
    width: 15%;
    transition: 1s ease-in; }

  /* navbar */
  ul {
    margin: 0;
    padding: 0;
    text-align: center; }

  /* link text-size, padding , bgc, center,margin*/
  .navbar li a {
    font-size: 1.5rem;
    margin: 0;
    padding: 3px;
    margin: 0.2rem; }

  /* grid */
  .container {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "heading" "pgrph"; }

  #about {
    grid-area: heading; }

  .pgrph {
    grid-area: pgrph; }

  /* style heading 2 */
  .name,
  h1,
  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem 2rem; }

  /* color of paragraph */
  /* heading about paragraph */
  p {
    color: #284c4c;
    font-size: 1rem;
    margin-left: 3rem; }

  /* paragraphs */
  .pgrph {
    font-size: 1.3rem;
    margin-left: 10rem;
    padding: 1rem; }

  /* styles of jump links */
  #about,
  #education,
  #work,
  #skills,
  #latest,
  #contact {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 0.5rem 3rem; }

  /* end of jump link style */
  /* style of div 'education' */
  .edu-link {
    margin-left: 2rem;
    padding: 0.6rem; }

  /* iframe headers links */
  .ihead h2 {
    font-size: 1.2rem; }

  /* work experience */
  .exp {
    display: grid;
    grid-template-columns: 1fr; }

  /*style of gif-scroll padding and margin  */
  .scroll {
    margin-left: 38%; }

  /* style of skills image */
  .skills-1 {
    width: 12.8%;
    margin: 0; }

  .skills-2 {
    margin-left: 1.3rem;
    padding-top: 1rem; }

  .header-1 {
    margin: 0;
    padding: 1rem;
    margin-left: 15.5rem;
    width: 40%; }

  /* latest work */
  .work-prgh {
    margin-left: 12rem;
    font-size: 1.2rem; }

  /* style of unordered list of contact details */
  .contact-1 p {
    font-size: 1.5rem;
    margin-left: 2rem; }

  /* imgs of contact form */
  .contact-1 img {
    margin-left: 2rem;
    padding: 0; }

  .email:hover,
  .git:hover,
  .fone:hover {
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.555); }

  /* footer background color padding top & bottom font-style */
  .foot-1 p {
    margin: 0;
    font-size: 1.3rem; }

  .container-2 p {
    text-align: center;
    margin-left: 1rem; }

  .head-1 {
    margin-left: 1rem;
    margin-right: 1rem; } }
@media screen and (min-width: 1440px) {
  /* link text-size, padding , bgc, center,margin*/
  .navbar li a {
    font-size: 1.5rem;
    margin: 0;
    padding: 1px;
    margin: 0.2rem; }

  /* style of unordered list of contact details */
  .contact-1 p {
    font-size: 1.5rem;
    margin-left: 1rem; }

  /* imgs of contact form */
  .contact-1 img {
    margin-left: 1rem;
    padding: 0; }

  .header-1 {
    margin: 0;
    padding: 1rem;
    margin-left: 32rem;
    width: 30%; } }

/*# sourceMappingURL=main.css.map */
