/* base style */

html {
    scroll-behavior: smooth;
}

/* background color */
body {
    background-image: url(../images/alarm-clock-art-background-1037993.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* first heading background color, text and size */
h1 {
    /* background-color: rgb(230, 90, 75, 0.400); */
    color: rgb(104, 102, 102);
    font-size: 1.825rem;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    text-transform: uppercase;
    text-align: center;
}

.cv {
    text-align: center;
}
/* class image margin right */
.pic {
    margin-left: 6.25rem;
    background-attachment: fixed;
    float: left;
    position: relative;
}

/* style heading 2 */
h2 {
    font-family: 'Charm', cursive;
    font-size: 2.125rem;
    margin-left: 48rem;
    word-spacing: 7px;
    letter-spacing: 1px;
}

/* text style */
h3 {
    font-family: 'Charm', cursive;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/* color of paragraph */
/* heading about paragraph */
p {
    color: rgb(40, 76, 76);
    font-size: 1.5rem;
    text-align: center;
}

/* paragraph text color */
li {
font-family: 'Courgette', cursive;
font-size: 1.1875rem;
padding: 0 0 0 1.5625rem;
color: black;
}

/* link text-size, padding , bgc, center,margin*/
.navbar li { 
    font-size: 2.075rem ;
    text-decoration: none;
    color: aliceblue;
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    margin: 0 0.625rem 0 0.625rem;
    display: inline;
    font-family: 'Courgette', cursive;
}

.navbar {
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    margin: 0 0.625rem 0 0.625rem;
    display: inline;
    color : rgb(5, 5, 5);
    text-decoration: none;
    text-align: center;
}

/* iframe headers links */
.ihead,
h2,
h3 {
    text-align: center;
    font-family: 'Charm', cursive;
    font-size: 1.675rem;
    padding-left: 0.125rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-decoration-line: underline;
}

/* style of div 'education' */
.edu-link {
    background-color: rgba(255, 143, 143, 0.932);
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}
/* end of style */

/* class hover certain images to rotate */
.skills-1:hover,
.skills-2:hover {
    transform: rotateY(360deg);
    transition: transform 4s ease-out;
    text-align: center;
}

/* style of skills image */
.skills-2 {
    margin-left: 20rem;
}

/* style of unordered list */
ul {
    list-style-type: none;
    color: black;
}

/* background color of table and padding extention */
table {
    float: right;
    margin-right: 45rem;
}

#work {
    text-align: center;
}
.row-1,
.row-3 {
    padding: 0.875rem;
    background-color: rgb(148, 228, 228);
    font-size: 1.275rem;
}

.row-2 {
    padding: 0.875rem;
    background-color: rgb(240, 156, 147);
    font-size: 1.275rem;
}

/* style of unordered list of contact details */
.contact-1 {
    color: rgb(240, 248, 255);
    text-align: center;
    font-size: 1.875rem;
}
/* end of style */

/* contact details margin shift */
.details {
    margin-left: 37.5rem;
}

ul.breadcrumb,
#top {
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.404);
    text-align: center;
    margin: 5rem 8rem;
    padding-right: 20rem;
  }
  ul.breadcrumb li,
  #top {
    display: inline;
    font-size: 28px;
  }
  ul.breadcrumb li+li:before,
  #top {
    padding: 8px;
    color: black;
  }
  ul.breadcrumb li a
  #top {
    color: #0a0a0a;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover,
  #top {
    color: grey;
    text-decoration: underline;
  }
  ul.breadcrumb li a {
    color: black;
  }
/* style of scroller, style of thumb */
    ::-webkit-scrollbar {
        width: 29px;
        background-color: pink;
} 
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(230, 90, 75); 
        border-radius: 15px;   
        background: linear-gradient(rgb(218, 106, 125), aliceblue, rgb(218, 106, 125) ) ;
} 
     
    ::-webkit-scrollbar-thumb {
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgb(170, 55, 55); 
        background: rgb(179, 210, 238);
}

    ::-webkit-scrollbar-thumb:hover {
    background: #f76363; 
  }

.scroll {
    margin-left: 10rem;
    margin-left: 47%;
}

/* style of skills images */
.skills {
padding: 2.075rem 8.105rem;
text-align: center;
    }

/* footer background color padding top & bottom font-style */
.foot-1 p {
    background-color: rgba(70, 192, 192, 0.5);
    color: black;
    padding-top: 0.0275rem;
    padding-bottom: 0.0275rem;
    font-family: 'Pacifico', cursive;
    margin-top: 0.0275rem;
    margin-bottom: 0.0275rem;
    text-align: center;
}

/* style of home button */
#top {
    margin-left: 20rem;
}
/* responsive for different devices */
/* responsive for mobile phone: */
@media screen and (max-width:480px) {
}


@media screen and (max-width:600px) {
/* responsive for tablets: */
}

@media screen and (max-width: 768px) {
    /* responsive for desktop: */
}

