/* base style */

html {
    scroll-behavior: smooth;
}

/* background color */
body {
    background-image: url(../images/alarm-clock-art-background-1037993.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* first heading background color, text and size */
h1 {
    background-color: rgb(230, 90, 75, 0.400);
    color: white;
    font-size: 1.825rem;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

/* class image margin right */
.pic {
    margin-left: 6.25rem;
    background-attachment: fixed;
    float: left;
    position: relative;
}

/* font text style heading 2 */
h2 {
    font-family: 'Monoton', cursive;
    font-size: 2.925rem;
    text-align: center;
}

/* text style */
h3 {
    font-family: 'Knewave', cursive;
    font-size: 3.5rem;
}

/* color of paragraph */
/* heading about paragraph */
p {
    color: rgb(124, 76, 76);
    font-size: 1.5rem;
}

/* paragraph text color */
li {
font-family: 'Courgette', cursive;
font-size: 1.5875rem;
padding: 0 0 0 1.5625rem;
color: black;
}

a {
    color: black;
    text-align: center;
    
}
/* link text-size, padding , bgc, center,margin*/
.navbar li { 
    font-size: 2.075rem ;
    /* text-align: center; */
    text-decoration: none;
    color: aliceblue;
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    margin: 0 0.625rem 0 0.625rem;
    display: inline;
    font-family: 'Courgette', cursive;
}

.navbar {
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    margin: 0 0.625rem 0 0.625rem;
    display: inline;
    color : rgb(5, 5, 5);
    text-decoration: none;
}
/* iframe headers links */
.ihead h2{
    text-align: center;
    font-family: 'Charm', cursive;
    font-size: 1.675rem;
    background-color: rgb(148, 227, 230);
    padding-left: 0.125rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-decoration-line: underline;
}

.edu-link {
    background-color: rgba(255, 143, 143, 0.932);
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}
/* button style */
button {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(230, 90, 75, 0.05);
    width: 250px;
    height: 50px;
    font-family: 'Courgette', cursive;
    font-size: 1.5rem ;
    box-shadow: 0 5px 5px 0 rgba(32, 32, 32, 0.541);
    
}

/* navbar bgc, text color, text decoration, margin, padding */
.link-1 {
    color: rgb(24, 27, 29);
    padding: 0.025rem 0.25rem 0.025rem 0.25rem;
    margin: 0.025rem 0.25rem 0.025rem 0.25rem;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 1.375rem;
    line-height: 1.875rem;
    background-color: rgb(148, 232, 247);
}


/* class hover certain images to rotate */
.header-1:hover,
.header-2:hover {
    transform: rotateY(360deg);
    transition: transform 4s ease-out;
    text-align: center;
}

.header-2 {
    margin-left: 20rem;
}

ul {
    list-style-type: none;
    color: black;

}
/* background color of table and padding extention */
.row-1,
.row-3 {
    padding: 0.875rem;
    background-color: rgb(148, 228, 228);
    font-size: 1.275rem;
}

.row-2 {
    padding: 0.875rem;
    background-color: rgb(240, 156, 147);
    font-size: 1.275rem;
}

/* class style contact details */
.contact {
    background-color: rgb(230, 90, 75);  
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    margin: 0 37.5rem 0 37.5rem;
    text-align: center;
}

.contact-1 {
    color: rgb(240, 248, 255);
    text-align: center;
    font-size: 1.875rem;
}
/* end of style */

/* contact details margin shift */
.details {
    margin-left: 37.5rem;
}

::-webkit-scrollbar {
        width: 29px;
        background-color: rgb(255, 255, 255);
}
     
::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(230, 90, 75); 
        border-radius: 15px;    
}
     
::-webkit-scrollbar-thumb {
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgb(170, 55, 55); 
        background-image: url(../images/alarm-clock-art-background-1037993.jpg);
        background-size: 10%;
}

.skills {
padding: 2.075rem 8.105rem;
    }

.scroll {
    margin-bottom: 17.5rem;
    margin-left: 3.5rem;
}
/* footer background color padding top & bottom font-style */
.foot-1 p {
    background-color: rgba(70, 192, 192, 0.5);
    color: black;
    padding-top: 0.0275rem;
    padding-bottom: 0.0275rem;
    font-family: 'Pacifico', cursive;
    margin-top: 0.0275rem;
    margin-bottom: 0.0275rem;
}
/* responsive for different devices */
/* responsive for mobile phone: */
@media screen and (max-width:480px) {
}

@media screen and (max-width:600px) {
/* responsive for tablets: */
}

@media screen and (max-width: 768px) {
    /* responsive for desktop: */
}
