
// =========== base style ================= //

/* base style */
html {
    scroll-behavior: smooth;
    contain: content;
    margin: 0; 
    padding: 0;
}
header {
    height: 100vh;
    background-image: url(../images/technology-785742_1920.jpg);
    background-size: 100% 100%;
}

/* background color */
body {
    background-image: url(../images/clouds-cloudscape-cloudy-158163.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
/* navbar */
nav {
    padding: 1%;
    text-align: center;
}
/*  text color */
li {
    padding: 0 0 0 1.5625rem;
    color: black;
    display: inline;
}
/* style of unordered list */
ul {
    list-style-type: none;
    color: black;
}
/* color of paragraph */
/* heading about paragraph */
p {
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
h3,
.the-future-influencer,
.the-clean-coder {
    font-size: 2rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
// footer
footer{
    background-color: rgba(0, 0, 0, 0.493);
}
footer p {
    font-size: 1.6rem;
    font-family: 'Dosis', sans-serif;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}
// end of base //