// =========== base style ================= //

/* base style */
html {
    scroll-behavior: smooth;
    contain: content;
    margin: 0; 
    padding: 0;
}
header {
    height: 100vh;
    background: linear-gradient(rgba(65, 209, 149, 0.445),rgba(65, 67, 69, 0.795)), url(../images/blackboard-business-chalkboard-355988.jpg);
    background-size: 100% 100%;
}
/* container */
.container {
    display: grid;
    margin: 0;
    overflow: hidden;
}
/* background color */
body {
    background: linear-gradient(rgba(128, 128, 128, 0.664),rgba(65, 67, 69, 0.795)), url(../images/clouds-cloudscape-cloudy-158163.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
/* navbar */
nav {
    padding: 1%;
    text-align: center;
}
/*  text color */
li {
    padding: 0 0 0 1.5625rem;
    color: black;
    display: inline;
}
/* style of unordered list */
ul {
    list-style-type: none;
    color: black;
}
/* color of paragraph */
/* heading about paragraph */
p {
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
h3 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
/* self learn */
/* style of scroller, style of thumb */
::-webkit-scrollbar {
    width: 20px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(126, 123, 123, 0.589); 
} 
::-webkit-scrollbar-thumb {
    background: rgba(102, 114, 124, 0.678);
}

// footer
footer{
    background-color: rgba(0, 0, 0, 0.493);
}
footer p {
    font-size: 2.5rem;
    font-family: 'Dosis', sans-serif;
    padding: 1rem;
    margin: 0;
    color: rgb(255, 255, 255);
}