// ====== components ====== // 

/* link text-size, padding , bgc, center,margin*/
.navbar li a { 
    @include navbar;
}
/* hover over navbar */
.navbar a:hover {
    color: rgba(25, 28, 175, 0.87);
    text-shadow: 0 0 20px rgba(25, 28, 175, 0.87);
    transition: 0.10s;
}
/* first heading background color, text and size */
/* style heading 2 */
.name, 
h1 {
    @include header;
}

p:hover {
    padding: 1rem;
    transition: 1s ease-in-out;
    box-shadow: 6px 6px 6px 6px rgba(99, 98, 98, 0.87);
}
/* styles of jump links */
#about,
#education,
#work,
#skills,
#latest,
#contact {
    color: black;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
/* end of jump link style */

/* iframe headers links */
.schools {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    text-decoration-line: underline;
}
/* end of style */

/* class hover certain images to rotate */
.skills-1:hover,
.skills-2:hover,
.skills-3:hover,
.skills-4:hover {
    transform: rotateY(360deg);
    transition: transform 4s ease-out;
    text-align: center;
}

.exp {
    text-align: center;
}
.box-1 {
    padding: 2rem;
    margin: 1.5rem;
    background-color: #f76363a6;
    text-align: center;
}

/* style of unordered list of contact details */
.email,
.git,
.fone {
    transition: 1s ease-in;
}
/* end of style */
/* footer background color padding top & bottom font-style */
.foot-1 {
    color: black;
    font-family: 'Dosis', sans-serif;
    background-color: rgba(0, 0, 0, 0.493);
}
.foot-p {
    padding: 1rem;
    margin: 0;
}
.foot-img {
    width: 2.5rem;
    height:2rem;
}
