// ====== components ====== // 

/* link text-size, padding , bgc, center,margin*/
.navbar li a { 
    @include navbar;
}
/* hover over navbar */
.navbar a:hover {
    color: rgba(65, 209, 149, 0.801);
    text-shadow: 0 0 25px rgb(0, 255, 149);
    transition: 0.10s;
}
/* first heading background color, text and size */
/* style heading 2 */
.name {
    @include header;
}
/* styles of jump links */
#about,
#education,
#work,
#skills,
#latest,
#contact {
    color: black;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
/* end of jump link style */

.about-p,
.edu-link {
    @include background;
}
/* iframe headers links */
.schools {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    text-decoration-line: underline;
}
/* end of style */

/* class hover certain images to rotate */
.fab:hover {
    transform: rotateY(360deg);
    transition: transform 4s ease-out;
}

.schools h2 {
    font-weight: bolder;
}
.exp {
    text-align: center;
}
.box-1 {
    padding: 2rem;
    margin: 1.5rem;
    background-color: rgba(86, 86, 88, 0.418);
    box-shadow: 5px 5px 5px rgba(91, 91, 94, 0.87),
                -5px -5px 7px,
                -3px -3px 3px;
    text-align: center;
}

/* style of unordered list of contact details */
.email,
.git,
.fone {
    transition: 1s ease-in;
}
/* end of style */
/* footer background color padding top & bottom font-style */

.foot-img {
    width: 2.5rem;
    height:2.5rem;
}
