
// layout //
/* container */
.container {
    display: grid;
    margin: 0;
    overflow: hidden;
}
.about-p {
    display: grid;
    margin: auto;
    width: 71.654rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "title title"
        "image box"
}
.the-future-influencer{
    grid-area: title;
    text-decoration: underline;
    font-weight: bold;
}
/* work experience */
.exp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
// skills images
.container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    grid-template-areas:
        "img img2 img3 img4";
}
// projects
.container-4 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-area: 
        "title title",
        "project project2";
}
.the-clean-coder{
    grid-area: title;
    grid-column: 2 span;
    // text-decoration: underline;
    letter-spacing: 0.5rem;
    word-spacing: 2rem;
}
.container-4 div {
    width: 40rem; 
    padding: 1rem 0;
    margin: auto;
}
.project {
    grid-area: project;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
    height: 18rem;
}
.project2 {
    grid-area: project2;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
    height: 18rem;
}
// .project3 {
//     grid-area: project;
//     filter: grayscale(100%);
//     transition: 1s ease-in-out;
//     height: 18rem;
// }
// .project4 {
//     grid-area: project2;
//     filter: grayscale(100%);
//     transition: 1s ease-in-out;
//     height: 18rem;
// }
.tab {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

// end of layout //