// layout //

/* work experience */
.exp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
// skills images
.container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
        "img img2 img3 img4";
}
/* style of skills image */
.fa,
.fab {
  font-size: 10rem;
}
.box1 {
    grid-area: img;
    cursor: grab; cursor: grab;
}
.box2 {
    grid-area: img2;
    cursor: grab; cursor: grab;
}
.box3 {
    grid-area: img4;
    cursor: grab; cursor: grab;
}
.box4 {
    grid-area: img3;
    cursor: grab; cursor: grab;
}
.container-4 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-area: 
        "project project2";
}
.container-4 img {
    width: 100%;
}

.container-4 div {
    width: 40rem; 
    padding: 1rem 0;
    margin: auto;
}
.project {
    grid-area: project;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
}
.project2 {
    grid-area: project2;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
}
.project3 {
    grid-area: project;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
}
.project4 {
    grid-area: project2;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
}
.project:hover,
.project2:hover, 
.project3:hover, 
.project4:hover {
    filter: grayscale(0%);
    transition: 1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3),
                -10px -10px 10px rgba(0, 0, 0, 0.3);
    cursor: grab; cursor: grab;
}

.tab {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
 
.tab img {
   width: 100%;
   height: auto;
}

.fone,
.git,
.email {
    width: 20rem;
    height: 10rem;
    margin: auto;
    text-align: center;
}

.fone div {
    width: 4rem;
    height: 4rem;
    margin: auto;
}

.email div {
    width: 4rem;
    height: 4rem;
    margin: auto;
}
.git div {
    width: 4rem;
    height: 4rem;
    margin: auto;
}
.tab p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.fone:hover p,
.git:hover p,
.email:hover p {
    opacity: 1;
}