// mixins //

// heading
@mixin header {
  color: rgb(0, 0, 0);
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  text-align: center;
  word-spacing: 6px;
  
}
// mixin for navbar
@mixin navbar {
    font-size: 1.5rem ;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.3125rem 0.625rem;
    display: inline;
    font-family: 'Dosis', sans-serif;
    margin-left: 1.5rem;
    text-shadow: rgb(49, 46, 45);
}