
/* responsive for different devices */
/* responsive for mobile phone: */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 515px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        background-size: cover;
    }
    header nav {
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .hamburger-menu {
        position: absolute;
        
        span{
            background-color: #808080b7;
            border-radius: 0.25rem;
            padding: 0.125rem;
            margin: 0.3125rem;
            display: block;
            width: 2.5rem;
            height: 0.3125rem;
            position: relative;
        }
    }
    .hamburger-menu:hover nav{
        opacity: 1;
    }
    .navbar a li {
        @include nav;
    }
    /* navbar */
    nav {
        text-align: left;
    }
    /*  text color */
    li {
        padding: 0;
        display: block;
    }
    /* first heading background color, text and size */
    /* style heading 2 */
    .name {
        font-size: 1.5rem;
        text-align: left;
        padding: 0.3rem;
        margin-top: 25rem;
        margin-left: 2rem;
        word-spacing: 0.2rem;
        letter-spacing: 0.3rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    /* styles of jump links */
    #about,
    #education,
    #work,
    #skills,
    #latest,
    #contact {
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
    }
    .about-p,
    .edu-link {
        padding: 0.2rem;
        margin: 0.2rem;
        width: 42%;
    }
    /* heading about paragraph */
    p {
        padding: 0.2rem;
        font-size: 1.2rem;
    }
    /* iframe headers links */
    .schools {
        text-align: left;
        font-size: 1.2rem;
        padding-left: 0;

        ul {
            text-align: left;
        }

        li {
            padding-left: 0;
            display: block;
        }
    }
    // work experience
    .exp {
        text-align: left;
    }
    .box-1 {
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0;
        box-shadow: 2px 2px 2px rgba(91, 91, 94, 0.87);
        text-align: left;
    }
    /* work experience */
    .exp {
        grid-template-columns: 1fr;
    }
    // skills images
    .container-3 {
        width: 42%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        grid-template-areas:
            "img img2 img3 img4";
    }
    /* style of skills image */
    .fa,
    .fab {
        font-size: 2rem;
    }
    h3 {
        text-align: center;
    }
    .container-4 {
        grid-gap: 0;
        margin: 0;
        padding: 1.2rem;
        width: 42%;
        grid-template-columns: 1fr;
        grid-area: 
            "project",
            "project2";
    }
    .container-4 img {
        width: 40%;
        height: 10rem;
    }
    .container-4 h3 {
        text-align: left;
    }
    .container-4 div {
        padding: 1rem;
        margin: auto;
    }
    // contact details
    .tab {
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
        width: 50%;
    }
    .fone,
    .git,
    .email {
        width: 10rem;
        height: 5rem;
        margin: auto;
    }
    .fone div,
    .email div,
    .git div {
        width: 2rem;
        height: 1rem;
        margin: auto;
    }
    .tab img {
        width: 100%;
    }
    .tab p {
        font-size: 0.8rem;
        text-align: left;
    }
    footer p {
        font-size: 1rem;
    }
}

/* media queries */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* responsive for tablets: */
    header {
        background-size: cover;
    }
     // navarbar
     nav {
        text-align: center;
        font-size: 0.5rem;
        word-spacing: 0;
    }
    li {
        padding: 0.1rem;
        color: black;
    }
    /* first heading background color, text and size */
    /* style heading 2 */
    .name {
        font-size: 3rem;
        text-align: center;
        padding: 0.3rem;
        margin-top: 12rem;
        margin-left: 0.7rem;
        word-spacing: 0.3rem;
        letter-spacing: 0.3rem;
    }
    /* styles of jump links */
    #about,
    #education,
    #work,
    #skills,
    #latest,
    #contact {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    }
    .about-p,
    .edu-link {
        padding: 0.5rem;
        margin: 0;
        
    }
    /* heading about paragraph */
    p {
        padding: 0.1rem;
        text-align: left;
        font-size: 1.4rem;
        display: block;
    }
    /* iframe headers links */
    .schools {
        text-align: left;
        font-size: 1.5rem;
        padding-left: 0;

        ul {
            text-align: left;
        }

        li {
            padding-left: 0;
            display: block;
        }
    }
    // work experience
    /* work experience */
    .exp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "box1 box2 box3"
    }
    .box-1 {
        font-size: 1.1rem;
        padding: 0.5rem;
        margin: 0;
        background-color: rgba(86, 86, 88, 0.418);
        box-shadow: 2px 2px 2px rgba(91, 91, 94, 0.87);
        text-align: left;
    }
    .columns-1 {
        grid-area: box1;
    }
    .columns-2 {
        grid-area: box2;
    }
    .columns-3 {
        grid-area: box3;
    }
    .exp p {
        font-size: 1rem;
    }
    .box-1 {
        padding: 1rem;
        margin: 0;
        background-color: rgba(86, 86, 88, 0.767);
        box-shadow: 2px 2px 2px rgba(91, 91, 94, 0.87);
        text-align: left;
    }

    // skills images
    .container-3 {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        grid-template-areas:
            "img img2",
            "img3 img4";
    }
    /* style of skills image */
    .fa,
    .fab {
        font-size: 4.5rem;
    }
    .container-4 {
        grid-gap: 0;
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-area: 
            "project project2";
    }
    .container-4 img {
        width: 100%;
    }
    .container-4 div {
        width: 40rem; 
        margin: auto;
    }
    .fone,
    .git,
    .email {
        width: 5rem;
        height: 5rem;
        margin: auto;
        text-align: left;
    }

    .fone div {
        width: 2.5rem;
        height: 2rem;
        margin: auto;
    }

    .email div {
        width: 2.5rem;
        height: 2rem;
        margin: auto;
    }
    .git div {
        width: 2.5rem;
        height: 2rem;
        margin: auto;
    }
    .tab p {
        font-size: 0.9rem;
    }
    footer p {
        font-size: 2rem;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1){
    header {
        background-size: cover;
    }
     // navarbar
     nav {
        text-align: center;
        font-size: 0.5rem;
        word-spacing: 0;
    }
    li {
        padding: 0.1rem;
        color: black;
    }
    /* first heading background color, text and size */
    /* style heading 2 */
    .name {
        font-size: 3rem;
        text-align: center;
        padding: 0.3rem;
        margin-top: 12rem;
        margin-left: 0.7rem;
        word-spacing: 0.3rem;
        letter-spacing: 0.3rem;
    }
    /* styles of jump links */
    #about,
    #education,
    #work,
    #skills,
    #latest,
    #contact {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    }
    .about-p,
    .edu-link {
        padding: 0.5rem;
        margin: 0;
        
    }
    /* heading about paragraph */
    p {
        padding: 0.1rem;
        text-align: left;
        font-size: 1.4rem;
        display: block;
    }
    /* iframe headers links */
    .schools {
        text-align: center;
        font-size: 1.5rem;
        padding-left: 0;

        ul {
            text-align: left;
        }

        li {
            padding-left: 0;
            display: block;
        }
    }
    // work experience
    /* work experience */
    .exp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "box1 box2 box3"
    }
    .columns-1 {
        grid-area: box1;
    }
    .columns-2 {
        grid-area: box2;
    }
    .columns-3 {
        grid-area: box3;
    }
    .exp p {
        font-size: 1rem;
    }
    .box-1 {
        padding: 2rem;
        margin: 0.2rem;
        background-color: rgba(86, 86, 88, 0.767);
        box-shadow: 2px 2px 2px rgba(91, 91, 94, 0.87);
        text-align: left;
    }

    // skills images
    .container-3 {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        grid-template-areas:
            "img img2",
            "img3 img4";
    }
    /* style of skills image */
    .fa,
    .fab {
        font-size: 5.5rem;
    }
    .container-4 {
        grid-gap: 0.5rem;
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-area: 
            "project project2";
    }
    .container-4 img {
        width: 100%;
    }
    .container-4 h3 {
        text-align: left;
    }
    .container-4 div {
        width: 100%; 
        // padding: 0.5rem;
        margin: auto;
    }
    .fone,
    .git,
    .email {
        width: 5rem;
        height: 5rem;
        margin: auto;
        text-align: left;
    }

    .fone div {
        width: 3rem;
        height: 2rem;
        margin: auto;
    }

    .email div {
        width: 3rem;
        height: 2rem;
        margin: auto;
    }
    .git div {
        width: 3rem;
        height: 2rem;
        margin: auto;
    }
    .tab p {
        font-size: 0.9rem;
    }
    footer p {
        font-size: 2rem;
    }
}
// end of responsive //