/* responsive for different devices */
/* responsive for mobile phone: */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    // navarbar
    nav {
        text-align: left;
        font-size: 0.5rem;
        word-spacing: 0.2rem;
        display: block;
    }
    li {
        padding: 0.3rem;
        color: black;
        display: block;
    }
    /* first heading background color, text and size */
    /* style heading 2 */
    .name {
        font-size: 2rem;
        text-align: left;
        padding: 0.3rem;
        margin-top: 5rem;
        word-spacing: 0.2rem;
        letter-spacing: 0.3rem;
    }
    /* styles of jump links */
    #about,
    #education,
    #work,
    #skills,
    #latest,
    #contact {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    }
    .about-p,
    .edu-link {
        padding: 0.3rem;
        margin: 0.4rem;
        background-color: rgba(0, 0, 0, 0.219);
    }
    /* heading about paragraph */
    p {
        padding: 0.2rem;
        text-align: left;
        font-size: 0.8rem;
        display: block;
    }
    /* iframe headers links */
    .schools {
        text-align: left;
        font-size: 0.8rem;
        padding-left: 0;

        ul {
            text-align: left;
        }

        li {
            padding-left: 0;
            display: block;
        }
    }
    // work experience
    .exp {
        text-align: left;
    }
    .box-1 {
        padding: 0.5rem;
        margin: 0;
        background-color: rgba(86, 86, 88, 0.418);
        box-shadow: 2px 2px 2px rgba(91, 91, 94, 0.87);
        text-align: left;
    }
    /* work experience */
    .exp {
        grid-template-columns: 1fr;
    }
    // skills images
    .container-3 {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        grid-template-areas:
            "img img2 img3 img4";
    }
    /* style of skills image */
    .fa,
    .fab {
        font-size: 3rem;
    }
}

/* media queries */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* responsive for tablets: */
    /* class image margin right */
    .pic {
        margin-left: 20rem;
        width: 15%;;
        transition: 1s ease-in;
    }
    /* navbar */
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }
 
    /* link text-size, padding , bgc, center,margin*/
    .navbar li a { 
        font-size: 1.5rem;
        margin: 0;
        padding: 3px;
        margin: 0.2rem;
    }
    /* grid */
    .container {
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "heading"
            "pgrph"
    }
    #about {
        grid-area: heading; 
    }
    .pgrph {
        grid-area: pgrph;
    }
    /* style heading 2 */
    .name, 
    h1,
    h3 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0.5rem 2rem;
    }
    /* color of paragraph */
    /* heading about paragraph */
    p {
        color: rgb(40, 76, 76);
        font-size: 1rem;
        margin-left: 3rem;
    }
    /* paragraphs */
    .pgrph{
        font-size: 1.3rem;
        margin-left: 10rem;
        padding: 1rem;
    }
    /* styles of jump links */
    #about,
    #education,
    #work,
    #skills,
    #latest,
    #contact {
        padding: 1rem;
        font-size: 1.8rem;
        text-align: center;
        margin: 0.5rem 3rem;
    }
    /* end of jump link style */   
    /* style of div 'education' */
    .edu-link {
        margin-left: 2rem;
        padding: 0.6rem;
    } 
    /* iframe headers links */
    .ihead h2 {
        font-size: 1.2rem;
    }
    /* work experience */
    .exp {
        display: grid;
        grid-template-columns: 1fr;
    }

     /*style of gif-scroll padding and margin  */
     .scroll {
        margin-left: 38%;
    }
    /* style of skills image */
    .skills-1 {
        width: 12.8%;
        margin: 0;
    }
    .skills-2 {
        margin-left: 1.3rem;
        padding-top: 1rem;
    }
    .header-1 {
        margin: 0;
        padding: 1rem;
        margin-left: 15.5rem;
        width: 40%;
    }
    /* latest work */
    .work-prgh {
        margin-left: 12rem;
        font-size: 1.2rem;
    }
    
    /* style of unordered list of contact details */
    .contact-1 p {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
    /* imgs of contact form */
    .contact-1 img  {
        margin-left: 2rem;
        padding: 0;
    }
    .email:hover,
    .git:hover,
    .fone:hover {
        padding: 0.5rem;
        box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.555);
    }
    /* footer background color padding top & bottom font-style */
    .foot-1 p {
        margin: 0;
        font-size: 1.3rem;
    }

    .container-2 p {
        text-align: center;
        margin-left: 1rem;
    }

    .head-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1440px){
    /* link text-size, padding , bgc, center,margin*/
    .navbar li a { 
        font-size: 1.5rem;
        margin: 0;
        padding: 1px;
        margin: 0.2rem;
    }
    /* style of unordered list of contact details */
    .contact-1 p {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    /* imgs of contact form */
    .contact-1 img  {
        margin-left: 1rem;
        padding: 0;
    }
    .header-1 {
        margin: 0;
        padding: 1rem;
        margin-left: 32rem;
        width: 30%;
    }
}