// ************ style extentions **************** //
/* link text-size, padding , bgc, center,margin*/
.navbar li a { 
    @include navbar;
    transition: 1s ease-in;
}
/* hover over navbar */
.navbar a:hover {
    color: $light-blue;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: white;
    text-shadow: 0 0 25px $blue-shadow;
    transition: 1s ease-in-out;
}
/* first heading background color, text and size */
/* style heading 2 */
.name {
    @include header;

    li{
        color: $blue-shadow;
        background-color: rgba(255, 255, 255, 0.822);
        font-weight: bolder;
        border-radius: 20%;
        padding: 1rem;
    }
}
.name1{
    margin-left: 25%;
    margin-top: 10%;
    width: 45%;
    height: 45%;
}
nav li:hover {
    transition: 1s ease-in-out;
    transform: scale(1.5);
}
/* styles of jump links */
#about,
#education,
#work,
#skills,
#latest,
#contact {
    color: black;
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
/* end of jump link style */
// banner image
.me {
    margin: auto;
    // height: 100%;
}
.image-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}
.about-p,
.edu-link {
    @include background;
    transition: 2s ease-in;
}
.about-p:hover,
.edu-link:hover,
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover{
    transform: scale(1.1);
    transition: 2s ease-in-out;
}
/* iframe headers links */
.schools {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}
/* end of style */
/* class hover certain images to rotate */
.fab:hover {
    transition: transform 4s ease-in;
}
.schools h2 {
    font-weight: bolder;
}
.edu {
    text-decoration: underline;
    font-weight: bold;
}
//  experince //
.exp {
    text-align: center;
    font-size: 1.2rem;
}
.box-1 {
    padding: 2rem;
    margin: 1.5rem;
    font-weight: bold;
    background-color: $grey;
    text-align: center;
}
/* style of skills image */
.fa,
.fab {
  font-size: 10rem;
}
/* style of projects */ 
.container-4 {
    background-color: $grey;
    margin: 1.5rem;
    padding: 2rem;
}
.project:hover,
.project2:hover, 
.project3:hover, 
.project4:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: 1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3),
                -10px -10px 10px rgba(0, 0, 0, 0.3);
    cursor: grab; cursor: grab;
}
/* style of unordered list of contact details */
.fone,
.git,
.email {
    width: 20rem;
    height: 10rem;
    margin: auto;
    text-align: center;
    transition: 1s ease-in;

    p {
        color: rgba(255, 255, 255, 0.603);
    }
}
.fone:hover,
.git:hover,
.email:hover{
    transform: scale(1.1);
}

.fone div,
.email div,
.git div {
    width: 4rem;
    height: 4rem;
    margin: auto;
}

// hover over icons and text appears //
.box1,
.box2,
.box3,
.box4{
    transition: 1s ease-in;
}

.box1 p,
.box2 p,
.box3 p,
.box4 p,
.tab p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.box1:hover p,
.box2:hover p,
.box3:hover p,
.box4:hover p,
.fone:hover p,
.git:hover p,
.email:hover p {
    opacity: 1;
}
/* end of style */
/* footer background color padding top & bottom font-style */
.foot-img {
    width: 2.5rem;
    height:2.5rem;
}