/* ************ variables ************** */

$white : #ffffff;
$black : #000;
$grey : #ffffff38;
$textshadow :#312e2d;
$light-green : #41d195cc;
$green-shadow : #00ff95;
$light-blue : rgba(0, 0, 255, 0.774);
$blue-shadow : rgba(43, 43, 238, 0.63);